@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Chivo:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

* {
	margin: 0;
    padding: 0;
	box-sizing: border-box;

}

body {
	background: #f6f5f7;
	display: flex;
	flex-direction: column;
	font-family: 'Chivo', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
	overflow: hidden;
}

h1 {
	margin: 0;
	font-size: 50px;
}

h2 {
	text-align: center;
	font-weight: bold;
	margin: 0;
	font-size: 30px;
}

p {
	font-size: 14px;
	font-weight: lighter;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.logo{
	width: 50px; 
    margin-right: 5px; 
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
	font-weight: bold;
	font-size: 20px;
	color: #FFFFFF;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);

}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
    position: absolute;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}


.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-up-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
}

.sign-in-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background-image: url('../images/affiches.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #2b2827;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay .visible {
	color: #FF4B2B;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
	font-weight: bold;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #1d1d1d;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.logo_title, .navbar ul li a {
    color: #fff;
}

.navbar ul li a {
    padding: 12px;
    margin: 0 6px;
}

.navbar ul li a:hover {
    color: #1d1d1d;
    background-color: #dd5b44;
    border-radius: 4px;
}

.logo {
    width: 30px;
    margin-right: 10px;
}

.logo_title span {
    color: #FF4B2B;
    font-size: 35px;
    font-weight: bold;
    margin-left: 5px;
}

.logo_title {
    display: flex;
    align-items: center;
}

