

body, html {
  margin: 0; /* Réinitialise les marges par défaut du navigateur */
  padding: 0; /* Réinitialise les rembourrages par défaut du navigateur */
  height: 100%; /* Assure que le corps et l'élément HTML prennent la hauteur de la fenêtre du navigateur */
  background-color: #333333;
  color: #c9c5c5;
  font-size: 32px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
}

.left-section{
  height: 100vh; /* Les sections gauche et droite prennent la hauteur de la fenêtre du navigateur */
  overflow: hidden; /* Masque tout contenu dépassant des sections */
  position: relative; /* Permet un positionnement relatif pour les éléments enfants */
}
 .right-section {
  flex-grow: 1;
  height: 100vh; /* Les sections gauche et droite prennent la hauteur de la fenêtre du navigateur */
  overflow: hidden; /* Masque tout contenu dépassant des sections */
  position: relative; /* Permet un positionnement relatif pour les éléments enfants */
  text-align: center;
}

#moviePoster {
  height: 100%; /* L'image prendra la hauteur de sa section parente */
  width: auto; /* Ajustement automatique de la largeur pour conserver les proportions de l'image */
  display: block; /* Empêche l'image de déformer la disposition */
}

.arrow {
  width: 50px; /* Ajustez la taille des flèches selon vos besoins */
  height: 50px;
  background-color: #ccc;
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  outline: none;
}

.heart {
  width: 50px; /* Ajustez la taille du cœur selon vos besoins */
  height: 50px;
  background-color: #ff0000; /* Couleur du cœur */
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  outline: none;
}



