@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Chivo:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color:#f6f5f7;
    --secondary-color: #f6f5f7;
}

body{
    background-color: var(--primary-color);
    font-family: 'Chivo', sans-serif;
    margin: 0;
}


header{
    padding:1rem;
    display:flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

.search{
    background-color: transparent;
    border: 2px solid #FF4B2B;
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#FF4B2B;
    font-family: inherit;
}

.search:focus{
    outline:0;
    background-color: var(--primary-color);
}

.search::placeholder{
    color: #FF4B2B;
}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 280px;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    background-color: #FF4B2B;
    position:relative;
    overflow: hidden;
}


.movie img{
    width:100%;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
    font-size: 18px;
}


.movie-info span{
    background-color: #FF4B2B;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.gray{
    color:lightgray;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #f6f5f7;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
}

.movie:hover .overview{
    transform:translateY(0)
}

#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color:white;
    padding:10px 20px;
    background-color: orange;
    border-radius: 50px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
}

.tag.highlight{
    background-color: red;
}
.no-results{
    color:#FF4B2B;
}

.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:#FF4B2B;
}

.page{
    padding:20px;
    cursor:pointer;
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid orange;
    font-size: 20px;
    font-weight: 600;
}

.know-more{
    background-color: #FF4B2B;
    color:white;
    font-size: 16px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 5px;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }


  .embed.hide{
      display: none;
  }

  .embed.show{
      display: inline-block;
  }

  .arrow{
      position: absolute;
      font-size: 40px;
  }

  .arrow.left-arrow{
      top:50%;
      left:5%;
      transform: translateY(-50%);
  }

  
  .arrow.right-arrow{
    top:50%;
    transform: translateY(-50%);
    right:5%;
}

.dots{
    margin-top: 30px;
}

.dots .dot {
    padding: 5px 15px;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
}

.dots .dot.active{
    border-color: orange;
}

/* CSS pour la case à cocher "Vu" */
.watched-checkbox-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.watched-checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
}

.watched-checkbox {
    display: none;
}

/* CSS pour les polices d'icônes */
@font-face {
    font-family: 'FontAwesome';
    src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/webfonts/fa-solid-900.ttf') format('truetype');
}

/* Classe pour la case à cocher */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    font-family: 'FontAwesome'; /* Utiliser la police d'icônes */
    font-size: 16px; /* Taille de la police */
}

/* Afficher le symbole de coche lorsque la case est cochée */
.watched-checkbox:checked + .checkmark:after {
    content: '\f00c'; /* Code de l'icône de coche */
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    background-color: #1d1d1d;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.logo_title, .navbar ul li a {
    color: #fff;
}

.navbar ul li a {
    padding: 12px;
    margin: 0 8px;
    text-decoration-line: none;
}

.navbar ul li a:hover {
    color: #1d1d1d;
    background-color: #dd5b44;
    border-radius: 4px;

}

.logo {
    width: 30px;
    margin: 0 10px;
    text-decoration-line: none;
}

.logo_title span {
    color: #FF4B2B;
    font-size: 35px;
    font-weight: bold;
    margin-left: 5px;
}

.logo_title {
    display: flex;
    align-items: center;
}

