@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a { text-decoration: none;}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #1d1d1d;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.logo_title, .navbar ul li a {color: #fff;}

.navbar ul li a{
    padding: 12px;
    margin: 0 6px;
}

.navbar ul li a:hover {
    color: #1d1d1d;
    background-color: #dd5b44;
    border-radius: 4px;
}

.logo {
    width: 30px; /* Ajustez la taille selon vos besoins */
    margin-right: 10px; /* Espacement entre le logo et le texte */
}

.logo_title {
    display: flex;
    align-items: center;
}

.logo_title span {
    color: #FF4B2B;
    font-size: 35px; /* Taille de la police */
    font-weight: bold; /* Poids de la police */
    margin-left: 5px; /* Espacement entre le logo et le texte */
}

.film {
    display: flex; /* Permet au conteneur de s'ajuster à la taille de l'image */
    border-radius: 40px; /* ou toute autre valeur que vous préférez */
    overflow: hidden; /* Assure que l'image ne dépasse pas les coins arrondis */
    background-color: #f5f5f5;
    padding: 10px; /* Réduire le padding */
    text-align: center;
}

.film img {
    max-width: calc(100% - 20px); /* Ajuster la largeur de l'image en tenant compte de la réduction du padding */
    height: 500px; /* Pour maintenir les proportions de l'image */
    width: 300px;
    margin: 0 auto; /* Centrer l'image horizontalement */
    border-radius: 40px;
}
